
body {
    font-family: Futura, sans-serif;
    background-color: rgb(255, 223, 227);
}

h1 {
    color: #333;
}

input {
    margin: 5px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    margin: 5px;
    padding: 10px 20px;
    background-color: #ff00ee;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #b30089;
}
.card {
    margin: 10px 0;
}

button {
    width: 100%;
}